<%= form_with model: [@album, @album.photos.build] do |form|%>
        <p class = "my-1"style="margin-left: 200px;">
        <%=form.file_field :images ,multiple: :true%><br>
        </p>
        <%=form.submit 'create photo',class: "btn btn-secondary my-2"%>
<%end%>